<div id="right_column_flip">
    <h2>Ajuda</h2>
    <ul class="no_bullets">
        <li><%= link_to_unless_current "Sobre", help_about_path %></li>
        <li><%= link_to_unless_current "Fazendo pedidos", help_requesting_path %></li>
        <li><%= link_to_unless_current "Sua privacidade", help_privacy_path %></li>
        <li><%= link_to_unless_current "Para os servidores públicos", help_officers_path %></li>
        <li><%= link_to_unless_current "Sobre o software", help_alaveteli_path %></li>
        <li><%= link_to_unless_current "Créditos", help_credits_path %></li>
        <li><%= link_to_unless_current "API", help_api_path  %></li>
        <li><%= link_to_unless_current "Busca avançada", advanced_search_path %></li>
    </ul>

    <h2 id="contact">Contato</h2>
    <p>Se a sua questão não foi respondida aqui, ou se você quer saber outra coisa
    sobre o site, entre em <a href="<%= help_contact_path %>">contato</a>.
    </p>
</div>


